.grid{
    color: white;
    display: grid;
    gap: 5px;
    grid-template-rows: repeat(1, 100px);
}

.grid:first-child{
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid:last-child{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.item:nth-child(odd){
    background-color: green;
}

.item:nth-child(even){
    background-color: greenyellow;
}