body{

}

.father{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}

.child {
    flex-basis: 30%;
    background: peru;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child:nth-child(2){
    background-color: black;
    flex-grow: 1;
}
